<h1>All Teams</h1>
<h2>Click a team to view!</h2>
<ul>
  <% @teams.each do |team| %>
    <strong><%= link_to team.name, team_path(team) %></strong>
    <li>Sport: <%= team.sport %></li>
    <li>City: <%= team.city %></li>
    <li>Practice Location: <%= team.practice_location %></li>
    <li>Pratice Days: <%= team.practice_days %></li>
  <% end %>
</ul>
