<p><strong>Name:</strong> <%= @team.name %></p>
<p><strong>Sport: </strong><%= @team.sport %></p>
<p><strong>City: </strong><%= @team.city %></p>
<p><strong>Practice Location: </strong><%= @team.practice_location %></p>
<p><strong>Practice Days: </strong><%= @team.practice_days %></p>
    <%= button_to 'Join team!', '/signups/new' %>
