<h4>My Profile</h4>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Height: </strong><%= @user.height %> inches</p>
<p><strong>Sport: </strong><%= @user.sport %></p>
<p><strong>City: </strong><%= @user.city %></p>
<p><%= link_to 'Edit', edit_user_path(@user) %></p>
