<h4>All Games</h4>
<ul>
  <% @games.each do |game| %>
    <strong><%= game.name%></strong></br>
    <span>City: <%= game.city %></span></br>
    <span>Location: <%= game.location %></span></br>
    <span>Date: <%= game.converted_datetime  %></span></br>
    <span><%=game.home_team.name %> (Home) vs. <%= game.away_team.name %></span></br>
  <% end %>
</ul>
