<h4>All Games</h4>
<ul>
  <% @games.each do |game| %>
    <strong><%= game.name%></strong></br>
    <span>City: <%= game.city %></span></br>
    <span>Location: <%= game.location %></span></br>
    <span>Team #<%=game.home_team_id %> (Home) vs. Team #<%= game.away_team_id %></span></br>
  <% end %>
</ul>
